package ${package_name}.gen.service;

import ${package_name}.common.base.BaseService;
import ${package_name}.gen.dao.model.${model};
import ${package_name}.gen.dao.model.${model}Example;

/**
* ${model}Service接口
* Auto generate on ${ctime}.
*/
public interface ${model}Service extends BaseService<${model}, ${model}Example> {

}
